/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}

body {
  font-family: 'Baloo 2', cursive;
  font-size: 1rem;
  line-height: 1.6;
  //background-image: linear-gradient(135deg, $primary-color, #f9f9f9 60%);
  background-color: #fafbff !important;
  color: #333;
  overflow: auto;
}
button {
  outline: none !important;
}

input {
  outline: none !important;

  &:focus {
    box-shadow: 0 0 0.025rem 0.1rem #2e9e93;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  border-radius: 50%;
  border: 5px solid #268a80;
  border-color: #268a80 transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
